.grid-container{
    display: grid;
    grid-gap: 20px;
    border: solid 5px red;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.item1{
    border: solid 3px blue;
    grid-column: 1/2; grid-row: 1;
}
.item2{
    border: solid 3px rgb(255, 191, 0);

    grid-column: 1/2; grid-row: 2;
}
.item3{
    border: solid 3px rgb(13, 125, 17);

    grid-column: 2/3; grid-row: 2;
}
.item4{
    border: solid 3px rgb(134, 7, 184);

    grid-column: 1/2; grid-row: 4;
}
.item5{
    border: solid 3px rgb(0, 0, 0);

    grid-column: 2; grid-row: 1;
}