header{
    display:flex;
    height: 240px;
    background-color: black;
    justify-items: flex-start;  
    font-size: 2em;
    text-decoration: overline white;
}
header img{
    align-self: center;
    height:200px;
    width:200px;
}
.titre{
    align-self: center;
    display:flex;
    color: white;
    font-family: "Expletus Sans", sans-serif;
}
.menus{
    background-image: url(assets/images/black-932213_640.jpg);
}

body{
    font-family: "Expletus Sans", sans-serif;
    background-image: url(assets/images/yin-yang-99824_1280.webp);
    background-size: 100%;   
}
.promo{
    text-decoration: underline;
    color: rgb(254, 0, 0);
}
section{
    display:flex;
    width: 500px;
    height: 500px;
    color: white;
    font-weight: bold;
    font-size: 20px;
}
table{
    margin-left: 5%;
    background-image: url(assets/images/black-932213_640.jpg);
    color: white;
    table-layout: fixed;
    width: 500px;
    align-self: center;
    border: solid rgb(81, 1, 1);;
    background-color: rgb(184, 184, 184);
    justify-content: center;
}
.section1{
    display: flex;
    align-items: flex-start;
}
td{
    margin: 2px;
    border:solid rgb(58, 57, 57);
}
footer .adresse{
        justify-content: center;
        position: sticky;
        align-items: flex-end;
        display:flex;
        border: solid 5px;
        border-color: rgb(81, 1, 1);
        color: rgb(255, 255, 255);
        font-weight: bold;
        background-image: url(assets/images/black-932213_640.jpg);
}
.images{
    text-decoration: underline;
    flex-direction: column;
    /*filter: grayscale(100%);*/
    display:flex;
    font-size: 4em;
    color: rgb(212, 213, 213);
}
.bedroom{
    margin: 20px;
    border: 3mm ridge rgba(175, 175, 175, 0.6);
}
.bedrooms{
    flex-wrap: wrap;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    margin-bottom: 50px;
    margin-top: 50px;
}
.dining{
    margin: 20px;
    border: 3mm ridge rgba(175, 175, 175, 0.6);
}
.dinings{
    flex-wrap: wrap;
    display: flex;
    align-items: flex-start;
    margin-bottom: 50px;
    margin-top: 50px;
}
.kitchen{
    margin: 20px;
    border: 3mm ridge rgba(175, 175, 175, 0.6);
}
.kitchens{
    flex-wrap: wrap;
    display: flex;
    align-items: flex-start;
    margin-bottom: 50px;
    margin-top: 50px;
}
.living{
    margin: 20px;
    border: 3mm ridge rgba(175, 175, 175, 0.6);
}
livings{
    flex-wrap: wrap;
    display: flex;
    align-items: flex-start;
    margin-bottom: 50px;
    margin-top: 50px;
}
.office{
    margin: 20px;
    border: 3mm ridge rgba(175, 175, 175, 0.6);
}
.offices{
    flex-wrap: wrap;
    display: flex;
    align-items: flex-start;
    margin-bottom: 50px;
    margin-top: 50px;
}
.sdb{
    margin: 20px;
    border: 3mm ridge rgba(175, 175, 175, 0.6);
}
.sdbs{
    flex-wrap: wrap;
    display: flex;
    align-items: flex-start;
    margin-bottom: 50px;
    margin-top: 50px;
}
img{
    width: 280px;
}
.menu{
    font-family: "Expletus Sans", sans-serif;
    display: flex;
    text-decoration: none;
    text-decoration: overline white;
    outline: none;
    margin: 10px;
    color: white;
    display:flex;
    justify-content: center;
    font-size: 1.5em;
    font-weight: bold;
}
article{
    font-size: 1.2em;
    color: white;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    margin: 20px;
}
h1{
    font-size: 2.2em;
    text-decoration: overline;
}

@media screen and (min-width: 1000px) {
    *{
        overflow-x: hidden;
    }
    .full-width-img {
    margin: auto;
    width: 90%;
    }
}
@media (min-width: 650px) and (max-width: 1000px) {
    *{
        overflow-x: hidden;
    }
    .full-width-img {
    margin: auto;
    width: 90%;
    }
}
@media screen and (max-width: 650px) {
    *{
        overflow-x: hidden;
    }
    .full-width-img {
    margin: auto;
    width: 90%;
    }
    .logo{
        width: 75%;
        flex-wrap: wrap;
        display: flex;
        flex-direction: column;
    }
    .titre{
        flex-wrap: wrap;
        font-size:18px;
    }
    .section1{
        display: flex;
        flex-wrap: wrap;
    }
}